* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "bgBold", arial, helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #93a1b8;
}

ul {
  list-style-type: none;
}

body {
  background: url("../img/paisaje-bariloche-favorito-comprimida.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 20% 80%;
}

.nav {
  color: #fffdf8;
  background: #16171Ec3;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav .nav__link {
  margin: auto;
}
.nav .nav__link .nav__linkLogo {
  background: #000000d4;
  border-radius: 10%;
  width: 120px;
  padding: 30px;
  transition: transform 1.5s;
}
.nav .nav__link .nav__linkLogo:hover {
  transform: scale(1.15);
}
.nav .nav__menu {
  text-align: right;
  width: 70%;
  margin: auto;
}
.nav .nav__menu .nav__menuLi {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.8rem;
  opacity: 1;
  transition: margin 1s ease;
}
.nav .nav__menu .nav__menuLi:hover {
  margin: 0 10px 5px 0;
}
.nav .nav__autor {
  margin: auto;
  transform: translate(-1.1rem, 2rem);
  color: #fffdf8;
  text-align: center;
}
.nav .nav__autor .nav__autorIndustry {
  font-size: 0.7rem;
  font-weight: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.nav .nav__autor:hover .nav__autorIndustry {
  opacity: 0.5;
}
.nav .nav__autor .nav__autorFirma {
  opacity: 0.8;
  width: 120px;
}
.nav .menumobile__hamburguesa {
  display: none;
  width: 40%;
  min-width: 40px;
  max-width: 65px;
}
.nav #menumobile__desplegable {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100vh;
  transition: right 0.5s, background ease-in 1s;
}
.nav #menumobile__desplegable .desplegable__close {
  width: 30px;
  position: absolute;
  top: 3vh;
  right: 9vw;
  z-index: 1;
}
.nav #menumobile__desplegable .desplegable__links {
  margin: 0 0 0 40vw;
  background: linear-gradient(90deg, #92989222, #272623ec);
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: -50vw;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: right 1s;
}
.nav #menumobile__desplegable .desplegable__links .links__li {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 5vw 15px 0;
  text-decoration: none;
  line-height: 1.8rem;
  opacity: 1;
  text-align: right;
  transition: margin 1.5s ease;
}
.nav #menumobile__desplegable:target {
  display: block;
  right: 0;
  background: #939792c4;
}
.nav #menumobile__desplegable:target .desplegable__links {
  right: 0;
}

.contenedor {
  grid-area: 1/2/2/3;
}

.contenido {
  position: relative;
  display: flex;
  flex-flow: wrap;
}

footer {
  color: #fffdf8;
  background: #3d596d64;
  letter-spacing: 1.5px;
  font-weight: 800;
  z-index: 2;
  height: 8vh;
  width: 100%;
  position: initial;
  bottom: 0;
  right: 0;
}
footer .footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 0;
}
footer .footer__top .footer__topLeft {
  font-size: 0.6rem;
  margin-left: 3vw;
}
footer .footer__top .footer__topRight {
  font-size: 0.7rem;
  font-weight: none;
  text-transform: uppercase;
  margin-right: 3vw;
}
footer .footer__top .footer__topRight:hover {
  animation-name: arrow-animation;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes arrow-animation {
  0% {
    word-spacing: 1;
  }
  50% {
    word-spacing: 1.5rem;
  }
  100% {
    word-spacing: 1;
  }
}
footer .footer__firma {
  width: 150px;
  position: absolute;
  left: 30vw;
  bottom: 5vh;
  display: none;
}

.inicio__titulo {
  color: #16171E;
  width: 100%;
  height: 92vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inicio__titulo .inicio__tituloH3 {
  font-size: 1rem;
  font-weight: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: inline-block;
}
.inicio__titulo .inicio__tituloH1 {
  font-size: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 0.7rem;
}
.inicio__titulo .inicio__tituloH4 {
  font-size: 0.7rem;
  font-weight: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  display: inline-block;
}

.soltate {
  width: 40%;
  height: 92vh;
  display: inline-block;
  background: #8A9DBCbb;
  color: #fffdf8;
}
.soltate .soltate__h2 {
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.18;
  padding: 20px 0;
  display: block;
  text-align: center;
}
.soltate .soltate__imagen {
  width: 90%;
  margin: 0 5% 15px 5%;
  border-radius: 2%;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}
.soltate .soltate__p {
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.1rem;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2vh;
}
.soltate .soltate__bold {
  font-size: 1rem;
  font-weight: 800;
  text-transform: none;
}
.soltate .soltate__h3 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2vh;
}

.sobremi {
  width: 60%;
  height: 92vh;
  display: inline-block;
  background: #e4d9d9bb;
  color: #1a1a1a;
}
.sobremi .sobremi__h2 {
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.18;
  padding: 20px 0;
  display: block;
  text-align: center;
}
.sobremi .sobremi__ul {
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.1rem;
  width: 80%;
  margin: auto;
  text-align: center;
}
.sobremi .sobremi__ul .sobremi__ulLi {
  padding-bottom: 5px;
}
.sobremi .sobremi__retrato {
  width: 80%;
  height: 50%;
  object-fit: cover;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  border-radius: 2%;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}

.trabajos__h2 {
  color: #1a1a1a;
  background: #e4d9d9;
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 100%;
  padding: 20px 0 20px 5vw;
}

.trabajos__workLink {
  width: 100%;
  overflow: hidden;
}
.trabajos__workLink .work__contenidoP {
  padding-top: 10px;
}
.trabajos__workLink .trabajos__work1 {
  background: no-repeat center/100% url("../img/gabiota-horizontal.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink #trabajos__work1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #88888800, #00000099);
  color: #fffdf8;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8vh 0 0 8vw;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.trabajos__workLink #trabajos__work1:target {
  display: block;
  opacity: 0.8;
}
.trabajos__workLink .trabajos__work2 {
  background: no-repeat center/100% url("../img/perro-paisaje-horizontal.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink #trabajos__work2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #88888800, #00000099);
  position: absolute;
  top: 0;
  left: 0;
  padding: 8vh 0 0 8vw;
  color: #fffdf8;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.trabajos__workLink #trabajos__work2:target {
  display: block;
  opacity: 0.8;
}
.trabajos__workLink .trabajos__work3 {
  background: no-repeat center/100% url("../img/pancakes.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink #trabajos__work3 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #88888800, #00000099);
  position: absolute;
  top: 0;
  left: 0;
  padding: 8vh 0 0 8vw;
  color: #fffdf8;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.trabajos__workLink #trabajos__work3:target {
  display: block;
  opacity: 0.8;
}
.trabajos__workLink .trabajos__work4 {
  background: no-repeat center/100% url("../img/chimeneas.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink #trabajos__work4 {
  background: linear-gradient(to top, #88888800, #00000099);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8vh 0 0 8vw;
  color: #fffdf8;
  display: none;
  opacity: 0;
  transition: opacity 2s;
}
.trabajos__workLink #trabajos__work4:target {
  display: block;
  opacity: 0.8;
}
.trabajos__workLink .trabajos__work5 {
  background: no-repeat center/100% url("../img/pajarito-ceramica.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink .trabajos__work6 {
  background: no-repeat center/100% url("../img/cafe-flores-frutos.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink .trabajos__work7 {
  background: no-repeat center/100% url("../img/norton.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}
.trabajos__workLink .trabajos__work8 {
  background: no-repeat center/100% url("../img/frutos-secos-02.jpg");
  width: 100%;
  background-size: contain;
  padding: 27.1%;
  position: relative;
}

.amigueros__h2 {
  color: #fffdf8;
  background: #8A9DBC;
  font-size: 2.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 100%;
  padding: 20px 0 20px 5vw;
}

.amigueros__amigo1 {
  background: #8A9DBCbb;
  width: 100%;
  padding: 15vh 0 15vh 0;
  display: flex;
  justify-content: space-evenly;
  order: 3;
}
.amigueros__amigo1 .amigo1__descripcion {
  width: 30%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}
.amigueros__amigo1 .amigo1__descripcion .amigo1__descripcionH3 {
  color: #fffdf8;
  font-size: 2rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: 0.07rem;
  text-align: center;
  padding: 25px 0;
  white-space: nowrap;
}
.amigueros__amigo1 .amigo1__descripcion .amigo1__descripcionH3 a:hover {
  color: inherit;
}
.amigueros__amigo1 .amigo1__descripcion .amigo1__descripcionH3:hover {
  color: #1a1a1a;
  animation-name: arrow-animation;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes arrow-animation {
  0% {
    word-spacing: 1;
  }
  50% {
    word-spacing: 1.5rem;
  }
  100% {
    word-spacing: 1;
  }
}
.amigueros__amigo1 .amigo1__descripcion .amigo1__descripcionP {
  color: #fffdf8;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  text-align: center;
}
.amigueros__amigo1 .amigo1__instagram {
  width: 30%;
  max-width: 500px;
  height: auto;
  align-self: center;
  justify-self: center;
  transition: transform 3s;
}
.amigueros__amigo1 .amigo1__instagram:hover {
  transform: scale(1.05);
}
.amigueros__amigo1 .amigo1__instagram .instagram__link {
  width: 100%;
  border-radius: 5%;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}

.amigueros__amigo2 {
  background: #e4d9d9bb;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  order: 4;
}
.amigueros__amigo2 .amigo2__descripcion {
  display: flex;
  flex-direction: column;
}
.amigueros__amigo2 .amigo2__descripcion .amigo2__descripcionH3 {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: 0.07rem;
  padding: 0 0 20px 0;
  margin: auto;
}
.amigueros__amigo2 .amigo2__descripcion .amigo2__descripcionH3:hover {
  animation-name: arrow-animation;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes arrow-animation {
  0% {
    word-spacing: 1;
  }
  50% {
    word-spacing: 1.5rem;
  }
  100% {
    word-spacing: 1;
  }
}
.amigueros__amigo2 .amigo2__descripcion .amigo2__descripcionP {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  text-align: center;
  margin: auto;
}
.amigueros__amigo2 .amigo2__descripcion .amigo2__descripcionH4 {
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  padding: 5px 0 40px 0;
  margin: auto;
}
.amigueros__amigo2 .amigo2__multimedia {
  width: 100%;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-content: center;
}
.amigueros__amigo2 .amigo2__multimedia .multimedia__video {
  width: 85%;
  height: 75vh;
  border-radius: 2%;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}

.amigueros__amigo3 {
  background: #8ab0bcbb;
  width: 100%;
  padding: 10vh 0;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  order: 1;
}
.amigueros__amigo3 .amigo3__multimedia {
  width: 100%;
  padding-top: 5vh;
  display: flex;
  justify-content: space-evenly;
}
.amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor {
  display: inline-block;
  width: 23%;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}
.amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor .amigo3__contenedorArchivo {
  width: 100%;
  transition: transform 2s;
}
.amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor .amigo3__contenedorArchivo:hover {
  transform: scale(1.1);
}
.amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor--mobile {
  display: inline-block;
  width: 23%;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}
.amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor--mobile .amigo3__contenedorArchivo--mobile {
  width: 100%;
  transition: transform 2s;
}
.amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor--mobile .amigo3__contenedorArchivo--mobile:hover {
  transform: scale(1.1);
}
.amigueros__amigo3 .amigo3__descripcion {
  display: flex;
  flex-direction: column;
  color: #fffdf8;
}
.amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionH3, .amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionH3 .amigo3__descripcionH3Link {
  font-size: 2rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: 0.07rem;
  padding: 0 0 20px 0;
  margin: auto;
}
.amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionH3:hover, .amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionH3 .amigo3__descripcionH3Link:hover {
  color: #1a1a1a;
}
.amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionH3 .amigo3__descripcionH3Link:hover {
  animation-name: arrow-animation;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes arrow-animation {
  0% {
    word-spacing: 1;
  }
  50% {
    word-spacing: 1.5rem;
  }
  100% {
    word-spacing: 1;
  }
}
.amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionP {
  width: 80%;
  margin: auto;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  text-align: center;
}

.amigueros__amigo4 {
  width: 100%;
  padding: 10vh 0;
  background: #e4d9d9bb;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  order: 2;
}
.amigueros__amigo4 .amigo4__descripcion {
  display: flex;
  flex-direction: column;
}
.amigueros__amigo4 .amigo4__descripcion .amigo4__descripcionH3 {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: 0.07rem;
  padding: 0 0 20px 0;
  margin: auto;
}
.amigueros__amigo4 .amigo4__descripcion .amigo4__descripcionH3:hover {
  animation-name: arrow-animation;
  animation-iteration-count: 2;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes arrow-animation {
  0% {
    word-spacing: 1;
  }
  50% {
    word-spacing: 1.5rem;
  }
  100% {
    word-spacing: 1;
  }
}
.amigueros__amigo4 .amigo4__descripcion .amigo4__descripcionP {
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  text-align: center;
  margin: auto;
}
.amigueros__amigo4 .amigo4__multimedia {
  padding-top: 5vh;
}
.amigueros__amigo4 .amigo4__multimedia .amigo4__multimediaArchivo {
  border-radius: 2%;
  width: 90%;
  min-height: 500px;
  object-fit: cover;
  margin: 5vh auto;
  display: flex;
  justify-content: center;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.8);
}

.contactame {
  width: 31%;
  height: 92vh;
  background: #8ab0bcbb;
  color: #fffdf8;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}
.contactame .contactame__h2 {
  font-size: 2.5vw;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  margin: 0 0 5vh 0;
}
.contactame .contactame__ul {
  width: 60%;
  font-size: 1rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: 0.07rem;
  margin: 0 30px 0 10px;
}
.contactame .contactame__ul h3 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: none;
  letter-spacing: 0.07rem;
  margin-top: 0.6rem 0 0.2rem 0;
}

.formulario {
  width: 40%;
  height: 92vh;
  background: #e4d9d9;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
}
.formulario .formulario__h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.18;
  padding: 1.5rem;
}
.formulario .formulario__p {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.1rem;
  padding: 0 0 1rem 0;
  width: 90%;
}
.formulario .formulario__h3 {
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 80%;
  margin: auto;
}
.formulario .formulario__form {
  width: 80%;
  margin-top: 15px;
  margin: auto;
  display: flex;
  flex-flow: wrap;
}
.formulario .formulario__form input,
.formulario .formulario__form select,
.formulario .formulario__form textarea {
  border: 0;
  padding: 0.25rem;
  outline: 0;
  border-bottom: 1px solid #1a1a1a;
  line-height: 1rem;
  background: #e4d9d9;
}
.formulario .formulario__form input::selection {
  background: #8A9DBC;
}
.formulario .formulario__form .form__nombre, .formulario .formulario__form .form__telefono, .formulario .formulario__form .form__email, .formulario .formulario__form .form__instagram {
  width: 100%;
  padding: 5px;
  margin: 2%;
  font-size: 1rem;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.05);
}
.formulario .formulario__form .form__edad, .formulario .formulario__form .form__sexo {
  width: 46%;
  padding: 5px;
  margin: 2%;
  font-size: 1rem;
  color: #777;
}
.formulario .formulario__form .form__textarea {
  width: 100%;
  margin: 2%;
  font-size: 1rem;
  resize: none;
}
.formulario .formulario__form .form__experiencia {
  color: #000000bb;
  font-size: 1.1rem;
  letter-spacing: -0.8px;
  margin: 2%;
  align-self: center;
}
.formulario .formulario__form .form__boton {
  color: #000000bb;
  background: #fffdf8;
  border: 0.5px solid #000000bb;
  font-weight: 700;
  letter-spacing: 1.1px;
  padding: 5px 20px;
  margin: 2%;
  transition: background 0.5s ease-in;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.7);
}
.formulario .formulario__form .form__boton:hover {
  background: #94a6c2;
}

.redes {
  width: 28.98%;
  height: 100%;
  min-height: 92vh;
  background: #8A9DBCbb;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.redes .redes__h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  order: 1;
  writing-mode: vertical-rl;
}
.redes .redes__ul {
  width: 50%;
  min-width: 200px;
}
.redes .redes__ul .redes__ulImg {
  width: 100%;
  max-width: 300px;
  margin: auto;
  transition: transform 1s;
}
.redes .redes__ul .redes__ulImg:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  body {
    grid-template-rows: 12vh 1fr;
    grid-template-columns: 1fr;
  }

  .nav {
    height: 12vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav .nav__link {
    margin-left: 6vw;
    width: 60px;
  }
  .nav .nav__link .nav__linkLogo {
    padding: 10px;
    width: 100%;
  }
  .nav .nav__menu {
    display: none;
  }
  .nav .nav__autor {
    display: none;
  }
  .nav .menumobile__hamburguesa {
    display: block;
    margin-right: 3vw;
  }

  .contenedor {
    grid-area: 2/1/3/2;
  }

  footer {
    height: 40vh;
  }
  footer .footer__topLeft {
    font-size: 0.8rem;
  }
  footer .footer__firma {
    display: initial;
  }

  .inicio__titulo {
    height: 88vh;
  }
  .inicio__titulo .inicio__tituloH1 {
    font-size: 3rem;
    letter-spacing: 1vw;
  }

  .soltate {
    width: 100%;
    height: 100%;
    padding: 5vh 0 12vh 0;
    order: 1;
  }
  .soltate .soltate__h2 {
    font-size: 1.9rem;
  }
  .soltate .soltate__p {
    width: 90%;
  }
  .soltate .soltate__h3 {
    width: 90%;
  }
  .soltate .soltate__imagen {
    height: 350px;
    object-fit: cover;
  }

  .sobremi {
    width: 100%;
    height: 100%;
    padding: 3vh 0;
  }
  .sobremi .sobremi__h2 {
    font-size: 1.9rem;
  }
  .sobremi .sobremi__retrato {
    height: 350px;
  }

  .trabajos__h2 {
    font-size: 1.9rem;
  }

  .amigueros__h2 {
    font-size: 1.9rem;
  }

  .amigueros__amigo1 {
    flex-flow: column;
    align-items: center;
    padding: 5vh 0;
  }
  .amigueros__amigo1 .amigo1__descripcion {
    width: 90%;
  }
  .amigueros__amigo1 .amigo1__instagram {
    width: 85%;
    margin-top: 5vh;
  }

  .amigueros__amigo2 {
    padding: 5vh 0;
  }

  .amigueros__amigo3 {
    height: initial;
    padding: 5vh 0;
  }
  .amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionP {
    width: 90%;
  }
  .amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor {
    display: none;
    width: 0%;
  }
  .amigueros__amigo3 .amigo3__multimedia .amigo3__multimediaContenedor--mobile {
    width: 80%;
    height: auto;
  }
  .amigueros__amigo3 .amigo3__descripcion .amigo3__descripcionP {
    width: 95%;
  }

  .amigueros__amigo4 .amigo4__descripcion .amigo4__descripcionH3 {
    letter-spacing: 0.001rem;
    word-spacing: -0.8rem;
  }

  .redes {
    width: 100%;
    padding: 5vh 0;
    flex-flow: column;
  }
  .redes .redes__h2 {
    display: block;
    writing-mode: horizontal-tb;
    order: 0;
    font-size: 1.9rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 0 20px 0;
  }
  .redes .redes__ul {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
  }
  .redes .redes__ul li {
    text-align: center;
  }
  .redes .redes__ul li .redes__ulImg {
    width: 60%;
  }

  .formulario {
    width: 100%;
    height: auto;
    padding: 3vh 0 10vh 0;
  }
  .formulario .formulario__h2 {
    font-size: 1.9rem;
    padding: 20px 0;
  }
  .formulario .formulario__p {
    width: 85%;
  }
  .formulario .formulario__form {
    width: 85%;
  }

  .contactame {
    width: 100%;
    height: 60vh;
    padding: 0;
    order: 2;
  }
  .contactame .contactame__h2 {
    font-size: 1.9rem;
  }
  .contactame .contactame__ul {
    width: 50%;
    margin: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .soltate {
    width: 100%;
    height: auto;
    padding-bottom: 5vh;
    order: 1;
  }

  .sobremi {
    width: 100%;
  }

  .amigueros__amigo1 {
    flex-flow: wrap;
    justify-content: space-around;
  }
  .amigueros__amigo1 .amigo1__descripcion {
    width: 80%;
    padding-bottom: 5vh;
  }
  .amigueros__amigo1 .amigo1__instagram {
    width: 70%;
  }

  .formulario {
    width: 60%;
  }
  .formulario .formulario__h3 {
    display: none;
  }

  .redes {
    width: 40%;
  }
  .redes .redes__h2 {
    display: none;
  }

  .contactame {
    display: none;
  }
}