// Archivo. scss para contacta.html
.contactame {
	width: 31%;
	height: 92vh;
	background: $color-turquesa-light;
	color: $color-claro;
	@include flex(flex, wrap, center, center);
	
	.contactame__h2 {
		@include font(2.5vw, 800, uppercase);
		letter-spacing: .08rem;
		margin: 0 0 5vh 0;
	}
	
	.contactame__ul {
		width: 60%;
		@include font(1rem, 800, none);
		letter-spacing: .07rem;
		margin: 0 30px 0 10px;
		
		& h3 {
			@include font(1rem, 800, none);
			letter-spacing: .07rem;
			margin-top: .6rem 0 .2rem 0;
		}
	}
}

.formulario {
	width: 40%;
	height: 92vh;
	background: $color-salmon;
	@include flex(flex, wrap, center, center);
	
	.formulario__h2 {
		@include font(2.5rem, 800, uppercase);
		letter-spacing: .18;
		padding: 1.5rem;
	}
	
	.formulario__p {
		@include font(.8rem, 600, none);
		letter-spacing: .1rem;
		padding: 0 0 1rem 0;
		width: 90%;
	}
	
	.formulario__h3 {
		@include font(.7rem, 800, uppercase);
		letter-spacing: .1rem;
		width: 80%;
		margin: auto;
	}
	
	.formulario__form {
		width: 80%;
		margin-top: 15px;
		margin: auto;
		display: flex;
		flex-flow: wrap;

		input,
		select,
		textarea {
			border: 0;
			padding: .25rem;
			outline: 0;
			border-bottom: 1px solid $color-oscuro;
			line-height: 1rem;
			background: $color-salmon;
		}

		input::selection {
			background: $color-cielo;
		}
		
		.form__nombre {
			width: 100%;
			padding: 5px;
			margin: 2%;
			font-size: 1rem;
			box-shadow: -1px 1px 5px rgba(0, 0, 0, .05);
		}
		
		.form__instagram {
			@extend .form__nombre;
		}
		
		.form__edad {
			width: 46%;
			padding: 5px;
			margin: 2%;
			font-size: 1rem;
			color: #777;
		}
		
		.form__sexo {
			@extend .form__edad;
		}
		
		.form__email {
			@extend .form__nombre;
		}
		
		.form__telefono {
			@extend .form__nombre;
		}
		
		.form__textarea {
			width: 100%;
			margin: 2%;
			font-size: 1rem;
			resize: none;
		}
		
		.form__experiencia {
			color: #000000bb;
			font-size: 1.1rem;
			letter-spacing: -.8px;
			margin: 2%;
			align-self: center;
		}
		
		.form__boton {
			color: #000000bb;
			background: $color-claro;
			border: .5px solid #000000bb;
			font-weight: 700;
			letter-spacing: 1.1px;
			padding: 5px 20px;
			margin: 2%;
			transition: background .5s ease-in;
			box-shadow: -1px 1px 5px rgba(0, 0, 0, .7);
		}
		
		.form__boton:hover {
			background: #94a6c2;
		}
	}
}

.redes {
	width: 28.98%;
	height: 100%;
	min-height: 92vh;
	background: $color-cielo-light;
	@include flex(flex, nowrap, center, center);
	align-items: center;
	
	.redes__h2 {
		display: inline-block;
		@include font(2rem, 800, uppercase);
		order: 1;
		writing-mode: vertical-rl;
	}

	.redes__ul {
		width: 50%;
		min-width: 200px;
		
		.redes__ulImg {
			width: 100%;
			max-width: 300px;
			margin: auto;
			transition: transform 1s;
			
			&:hover {
				transform: scale(1.15);
			}
		}
	}
}