// nav 
.nav {
	// grid-area: 1/1/3/2;
	// color: #C4C6C6;
	color: $color-claro;
	background: #16171Ec3;
	min-width: 177px;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	
	.nav__link {
		// grid-area: 1/1/2/2;
		margin: auto;
		
		.nav__linkLogo {
			background: #000000d4;
			border-radius: 10%;
			width: 120px;
			padding: 30px;
			transition: transform 1.5s;
			
			&:hover {
				transform: scale(1.15);
			}
		}
	}

	.nav__menu {
		text-align: right;
		width: 70%;
		margin: auto;
		
		.nav__menuLi {
			@include font(1.1rem, 600, uppercase);
			text-decoration: none;
			line-height: 1.8rem;
			opacity: 1.0;
			transition: margin 1s ease;

			&:hover {
				margin: 0 10px 5px 0;
			}
		}
	}

	.nav__autor {
		// grid-area: 3/1/4/2;
		margin: auto;
		transform: translate(-1.1rem, 2rem);
		color: $color-claro;
		text-align: center;
		
		.nav__autorIndustry {
			@include font(.7rem, none, uppercase);
			opacity: 0;
			transition: opacity 2s ease-in-out;
		}
		
		&:hover .nav__autorIndustry {
			opacity: .5;
		}
		
		.nav__autorFirma {
			opacity: .8;
			width: 120px;
		}
	}

	.menumobile__hamburguesa {
		display: none;
		width: 60px;
		height: auto;
	}

	#menumobile__desplegable {
		// display: none;
		position: fixed;
		top: 0;
		right: -100vw;
		width: 100%;
		height: 100vh;
		transition: right 0.5s, background ease-in 1s;
		
		.desplegable__close {
			width: 50px;
			position: absolute;
			top: 2vh;
			right: 5vw;
			z-index: 1;
		}

		.desplegable__links {
			margin: 0 0 0 40vw;
			background: $color-gris-oscuro;
			height: 100vh;
			width: 50vw;
			position: absolute;
			right: -50vw;
			top: 0;
			display: flex;
			flex-flow: column;
			justify-content: center;
			transition: right 1s;

			.links__li {
				@include font(1.3rem, 600, uppercase);
				margin: 0 5vw 15px 0;
				text-decoration: none;
				line-height: 1.8rem;
				opacity: 1.0;
				text-align: right;
				transition: margin 1.5s ease;
			}
		}

		&:target {
			display: block;
			right: 0;
			// background: $color-ddl;
			background: linear-gradient(90deg, #92989222, $color-ddl);

			.desplegable__links {
				right: 0;
			}
		}
	}
}