// Variables
$h2-font: 2.8rem;
$h2-font-mobile: 1.9rem;
$regular-font: 1rem;
$color-oscuro: #1a1a1a;
$color-claro: #fffdf8;
$color-salmon: #e4d9d9;
$color-salmon-light: #e4d9d9bb;
$color-cielo: #8A9DBC;
$color-cielo-light: #8A9DBCbb;
$color-turquesa: #8ab0bc;
$color-turquesa-light: #8ab0bcbb;
$color-ddl: #939792c4; //para footer
$color-gris-oscuro: #272623ec;
$box-shadow: -5px 5px 20px rgba(0, 0, 0, .8);