// Archivo yo-yo.html
.soltate {
	width: 40%;
	display: inline-block;
	background: $color-cielo;
	color: $color-claro;
	
	.soltate__h2 {
		@include font($h2-font, 800, uppercase);
		letter-spacing: .18;
		padding: 20px 0;
		display: block;
		text-align: center;
	}
	
	.soltate__imagen {
		width: 90%;
		margin: 0 5% 15px 5%;
	}
	
	.soltate__p {
		@include font($regular-font, 500, none);
		letter-spacing: .1rem;
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 2vh;
	}

	.soltate__bold {
		@include font($regular-font, 800, none);
	}
	
	.soltate__h3 {
		@include font(1rem, 800, uppercase);
		letter-spacing: .15rem;
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 2vh;
	}
}

.sobremi {
	width: 60%;
	display: inline-block;
	background: $color-salmon;
	color: $color-oscuro;

	.sobremi__h2 {
		@include font($h2-font, 800, uppercase);
		letter-spacing: .18;
		padding: 20px 0;
		display: block;
		text-align: center;
	}

	.sobremi__p {
		@include font($regular-font, 500, none);
		letter-spacing: .1rem;
		width: 80%;
		margin: auto;
		text-align: center;
	}

	.sobremi__retrato {
		width: 80%;
		margin: 5vh auto;
		overflow: hidden;
		// display: none;

		.sobremi__retratoArchivo {

		}
	}
}